src/main/resources/META-INF/mule-cache-32.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/cache"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:spring="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesoft.org/schema/mule/cache"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd" />
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"/>

    <xsd:element name="cache-processor" type="cacheProcessorType" substitutionGroup="mule:abstract-intercepting-message-processor"/>
    <xsd:complexType name="cacheProcessorType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="cache-ref" type="xsd:string" use="required"/>
                <xsd:attribute name="cachingModel-ref" type="xsd:string" use="required"/>
                <xsd:attribute name="cacheableExpression" type="xsd:string" use="optional"/>
                <xsd:attribute name="keyGenerator-ref" type="xsd:string" use="optional"/>
                <xsd:attribute name="keyGeneratorExpression" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    

</xsd:schema>
